/****** start cart page******/
/* .content {
    margin-top: 20px;

} */

.cart-item {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: relative;
}

.cart-place {
    padding: 15px;
    margin: 10px 0;
}

.cart-place span,
.cart-place button {
    line-height: 72px;
}

.cart-item img {
    width: 75px;
    height: 77px;
    border-radius: 50%;
}

.cart-place button {
    border: none;
    background: transparent;
    font-size: 21px;
    color: #A49FA3
}

.cart {
    justify-content: space-between;
}

.close {
    position: absolute;
    right: 6px;
    top: -31px;
    width: 10px;
    font-size: 32px !important;
}

/*******end cart page*******/