/**********start of blogs********/
.latest-news-area {
  margin-bottom: 20px;
}

.latest-news-wrap {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.news-img {
  position: relative;
}

.news-img img {
  width: 100%;
}

.news-img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s;
}

.latest-news-wrap:hover .news-img:before {
  opacity: 0.5;
  transform: scale(1);
}

.deat {
  background: rgb(44, 142, 229) none repeat scroll 0 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 70px;
  height: 70px;
  padding: 10px;
}

.deat span {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.news-content {
  padding: 20px;
  margin-left: -20px;
}

.news-content p {
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 10px;
}

.news-content a {
  font-size: 14px;
  background-color: rgb(44, 142, 229);
  padding: 10px 20px;
  color: white;
  transition: all 0.5s;
}

.news-content a:hover {
  font-size: 14px;
  border: 1px solid rgb(44, 142, 229);
  border-top-right-radius: 20px;
  background-color: transparent;
  color: rgb(44, 142, 229);
  text-decoration: none;
}

/*******************end of blogs*****************/