/****************start of services***************/
.service-area img {
  width: 100%;
  height: 155px;
}

.service-wrap {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 25px 14px;
  position: relative;
  transition: all 0.5s ease 0s;
  z-index: 9;
  margin-top: 20px;
  height: 300px;
  margin-bottom: 9px;
}

/*.service-wrap:hover {
    color: white;
  }*/
.section-title p {
  font-family: "Lobster", cursive;
}

button.m-auto {
  outline: none;
  text-decoration: none;
  background-color: #EECE40;
  padding: 10px;
  border: 1px solid #EECE40;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  margin-top: 30px !important;
  transition: all .5s ease-in-out;
}

button.m-auto:hover {
  background-color: #7acaa6;
  border-color: #7acaa6;
}

.service-area a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: white !important;
}

.view {
  padding: 7px 14px;
  border: none;
  border-radius: 18px;
  background: #EECE40;
  font-weight: bold;
  font-size: 14px;
  transition: all .5s ease-in-out;
}

.view:hover {
  background: #7acaa6;
}

button.icon {
  margin-right: 5px;
  border: none;
  font-size: 23px;
  background: transparent;
  color: #7acaa6;
  transition: all .5s ease-in-out;
}

button.icon:hover {
  color: #EECE40;
  transform: rotate(360deg);
}

/********end of markets******/