.about {
  background-color: #eee;
  margin-top: 35px;
  position: relative;
}

.about .row {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.about .my-content1 img {
  width: 100% !important;
  margin-top: 20px;
}

.about .phone {
  background-color: rgb(42, 143, 238);
  color: white;
  padding: 10px;
  width: 270px;
  height: 165px;
}

.phone span {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

.my-content2 h3 {
  margin-top: 10px;
  color: #666;
  font-family: "Lobster", cursive;
}

.my-content2 h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(42, 143, 238);
}

.border-bottom {
  width: 40px;
  height: 2px;
  color: rgb(151, 19, 19) !important;
  border: 1px solid rgb(155, 149, 149) !important;
}

.my-content2 p {
  font-size: 12px;
  color: rgb(155, 149, 149);
  margin-top: 20px;
}

.wave {
  transform: rotate(180deg);
  position: absolute;
}