/**********************************contact page*********************************************/
.contact-info input {
    border-radius: 19px;
    padding: 15px;
}

.contact-info textarea {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 18px;
    border: 1px solid lightgray;
}

.image-organize {
    width: 150px;
    height: 150px;
}

.reheight {
    height: 320px;
}

.btn-cart {
    position: absolute;
    bottom: 10px;
    left: 31%;
}

/***********************end contact page*************************************/