.offer {
  margin-top: 140px;
  margin-bottom: 85px;
}

.offer h6 {
  font-family: "Lobster", cursive;
}

.offer .sad {
  color: white;
}

.offer1 {
  height: 300px;
  margin: 20px;
  width: 230px;
  color: white;
  padding: 10px;
}

.offer1 span {
  text-transform: capitalize;
}

.offer1 h2 {
  text-transform: capitalize;
  font-weight: bold;
}

.offer1 p {
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 15px;
}

.offer1 a {
  text-transform: uppercase;
  color: black !important;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  font-size: 14px;
  margin-top: 30px !important;
  text-decoration: none;
}

.offer1 img {
  width: 100%;
  margin-top: 40px;
}